<h1>Hola soy la Bel</h1>
<div class="jumbotron">
  <h1 class="display-4">Hola, mundo!</h1>
  <p class="lead">este es un jumbotron de la Bel.</p>
  <hr class="my-4">
  <p>Ola ke ase.</p>
  <a class="btn btn-primary btn-lg btn-success" href="#" role="button">Saber más</a>
</div>
